@import 'tailwindcss';

@theme {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-backgroundContrast: #111;
  --color-textBlack: #1d1d1f;
  --text-xs: 0.85rem;
  --text-xs--line-height: calc(1 / 0.85);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1.0625rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.05;
  --font-sans: sans-serif, Arial, 'SF Pro display', 'Helvetica Neue',
    'Helvetica', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --header-row-height: 44px;
  --header-height: calc(var(--header-row-height) * 2);
  --hero-height: calc(100svh - var(--header-height));
  --spacing-header-row: var(--header-row-height);
  --spacing-header: var(--header-height);
  --spacing-hero: var(--hero-height);
  --animate-duration: 70s;
  --animate-carousel-move: carousel-move var(--animate-duration, 80s) infinite;
  @keyframes carousel-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
/* Define custom layers */
/* @layer base {
  :root {
    --header-row-height: 44px;
    --header-height: calc(var(--header-row-height) * 2);
    --hero-height: calc(100svh - var(--header-height));
  }
} */
